<h1>Editing infomation</h1>

<%= form_for :post , url: post_path(@post.id),:html=>{:id =>'update_post_form'},
    method: :patch  do |f| %>
 <p>
 <%=f.label :"Title(required)"%>
 <%=f.text_field :title %>
 </p>
 <p>
 <%= f.label :'description(required)' %>
 <%= f.text_area :text %>
 </p>
 <p>
 File name: <%= @post.origin_name %>
 </p>
 <p>
 <%= f.submit "Submit" ,:class=>"btn btn-success"%>
 </p>
 <%end%>

 <p>
 <%= link_to "Back", posts_path %>
 </p>
 <script type="text/javascript">
$(document).ready(function () {
$("#update_post_form").validate({
debug:false,
rules:{
"post[title]":{required:true},
"post[text]":{required:true},
},
 highlight: function(element) {
    $(element).closest('.control-group').removeClass('success').addClass('error');
  },
  success: function(element) {
    element
    .text('OK!').addClass('valid')
    .closest('.control-group').removeClass('error').addClass('success');
  }
});
});
 </script>
