<h1> share new file </h1>

<%= simple_form_for :post ,url: posts_path ,:html=>{:id=>"new_post_form"} do |f| %>

  <%= f.label "File" %>
  <%= f.file_field :name %>

  <%= f.input :title %>

  <%= f.label 'description' %>
  <%= f.text_area :text %>

    <% if @post and  @post.errors.any? %>
    <div id="errorExplanation">
      <p><%= pluralize(@post.errors.count,"error") %> </p>
      <ul>
      <% @post.errors.messages.each do |msg| %>
        <% if !msg[1].empty? %>
    <li><%=if (msg[0] == :md5_exist)
                 link_to("file already exist here" , (posts_path + "/")+msg[1][0].to_s)
           else
                 msg[1][0]
           end %></li>
      <%end
          end %>
      </ul>
    </div>
    <% end %>
  <p>
  </br>
  <footer>
  <%= f.submit "Submit" , :class=>'btn btn-primary' %>
  <%= submit_tag 'Cancel',:type=> :reset, :class =>'btn btn-danger' %>
  </p>

  <% end %>

 <p>
 <footer>
 <%= link_to "Back", posts_path %>
 </footer>
 </p>
 <script type="text/javascript">
$().ready(function () {

$("#new_post_form").validate({
debug:false,
rules:{
"post[title]":{required:true},
"post[text]":{required:true},
"post[name]":{required:true},
}
});
});
 </script>
