<h1> share new file </h1>

<%= form_for :post ,url: posts_path ,:html=>{:id=>"new_post_form", class:"form-horizontal"} do |f| %>

  <div class="control-group">
    <%= f.label "File", class: "control-label" %>
    <div class="controls">
      <%= f.file_field :name%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'title', class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, class: "span6", placeholder: "input text"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'description',class: "control-label"%>
    <div class="controls">
          <%= f.text_area :text ,class: "span6", placeholder: "input content"%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <% if @post and  @post.errors.any? %>
    <div id="errorExplanation">
      <p><%= pluralize(@post.errors.count,"error") %> </p>
      <ul>
      <% @post.errors.messages.each do |msg| %>
        <% if !msg[1].empty? %>
    <li><%=if (msg[0] == :md5_exist)
                 link_to("file already exist here" , (posts_path + "/")+msg[1][0].to_s)
           else
                 msg[1][0]
           end %></li>
      <%end
          end %>
      </ul>
    </div>
    <% end %>
  </div>
  </div>
  <div class="control-groups">
    <div class="controls">
      <%= f.submit "Submit" , :class=>'btn btn-primary' %>
      <%= submit_tag 'Cancel',:type=> :reset, :class =>'btn btn-danger' %>
    </div>
  </div>

  <% end %>

 <p>
 <footer>
 <%= link_to "Back", posts_path %>
 </footer>
 </p>
 <script type="text/javascript">
$().ready(function () {

$("#new_post_form").validate({
debug:false,
rules:{
"post[title]":{required:true},
"post[text]":{required:true},
"post[name]":{required:true},
}
});
});
 </script>
