<h1> share new file </h1>

<%= form_for :post ,url: posts_path ,:html=>{:id=>"new_post_form"} do |f| %>
  <%= f.label "Title(required)"%>
  <%= f.text_field :title %>

  <%= f.label "description(required)" %>
  <%= f.text_area :text %>

  <%= f.label "File (required)" %>
  <%= f.file_field :name %>

  <p>
  <%= f.submit "Submit" , :class=>'btn btn-success'%>
  </p>

  <% end %>

 <p>
 <%= link_to "Back", posts_path %>
 </p>
 <script type="text/javascript">
$().ready(function () {

$("#new_post_form").validate({
debug:false,
rules:{
"post[title]":{required:true},
"post[text]":{required:true},
"post[name]":{required:true},
}
});
});
 </script>
