<h1> share new file </h1>

<%= simple_form_for :post ,url: posts_path ,:html=>{:id=>"new_post_form"} do |f| %>
  <%= f.input :title %>

  <%= f.label 'description' %>
  <%= f.text_area :text %>

  <%= f.label "File" %>
  <%= f.file_field :name %>

  <p>
  </br>
  <%= f.submit "Submit" , :class=>'btn btn-primary' %>
  <%= submit_tag 'Cancel',:type=> :reset, :class =>'btn btn-danger' %>
  </p>

  <% end %>

 <p>
 <%= link_to "Back", posts_path %>
 </p>
 <script type="text/javascript">
$().ready(function () {

$("#new_post_form").validate({
debug:false,
rules:{
"post[title]":{required:true},
"post[text]":{required:true},
"post[name]":{required:true},
}
});
});
 </script>
