<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<p>
File Name:
<%= @post.origin_name %>
</p>

<p>
Real Name:
<%= @post.real_name %>
</p>
<%= button_to "Download", download_post_path(@post)%>
<p>
<!--
<form>
    <input name ="Download" type="button" value ="Download" onclick="">
</form>
</p>
-->

