<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Get Free Books" %> - FreeBooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top">
		<div class="logo">
			<%= link_to image_tag("free_books.png",size: '386x118',alt: "FreeBooks - get free books online"),root_path%>
		</div>
		<div class="user_nav">
			<% if current_user %>
			  Logged in as <%= current_user.name %>.
			  <%= link_to "Loggout",signout_path %>
			<% else %>
			  <%= link_to "Login", signin_path %> | <%= link_to "Sign Up", signup_path %>
			<% end %>
		</div>
	</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>

</body>
</html>
