<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "ReadingBooks" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"> <%= link_to "Home",root_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
            <%= form_tag books_path, :method => 'get',class: "navbar-form pull-left" do %>
			    <%= text_field_tag :search, params[:search],class: "search-query",placeholder: "Search" %>
		    <% end %>
       <%= link_to 'Upload', new_book_path , class: "btn nav-upload btn-success" %>
		    <div class="pull-right nav-text">
		    <% if current_user %>
			  <%= link_to current_user.name, user_path(current_user) %>
			  <%= link_to "Loggout",signout_path,class: "btn" %>
			<% else %>
			  <%= link_to "Login", signin_path,class: "btn" %> <%= link_to "Sign Up", signup_path,class: "btn" %>
			<% end %>
		    </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </div>
<% flash.each do |key, msg| %>
 <div class="alert <%=bootstrap_class_for(key)%>">
 	 <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= msg %>
 </div>
<% end %>
<%= yield %>

</body>
</html>
