<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Get Free Books" %> - FreeBooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top">
		<div class="logo">
			<%= link_to image_tag("free_books.png",size: '386x118',alt: "FreeBooks - get free books online"),root_path%>
		</div>
	</div>

<%= yield %>

</body>
</html>
