<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Get Free Books" %> - FreeBooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"> <%= link_to "Home",root_path %></li>
              <li><a href="#about">About</a></li>
            </ul>
            <%= form_tag books_path, :method => 'get',class: "navbar-form pull-left" do %>
			    <%= text_field_tag :search, params[:search],class: "search-query",placeholder: "Search" %>
		    <% end %>
		    <div class="pull-right nav-text">
		    <% if current_user %>
			  Logged in as <%= current_user.name %>  
			  <%= link_to "Loggout",signout_path,class: "btn" %>
			<% else %>
			  <%= link_to "Login", signin_path,class: "btn" %> | <%= link_to "Sign Up", signup_path,class: "btn" %>
			<% end %>
		    </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </div>
<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>
<%= yield %>

</body>
</html>
