<h3 class="book-title">
  <%= @book.name %>
</h3>

<div class="book-show">
  <%=  image_tag(@book.image, class: "book-img")%>
  <div class="book-desc">
      <%= @book.desc %>
      <p></p>
      <div>
      	Author: <span class="book-detail"> <%= @book.author %></span>
      </div>
      <div>
      	Language: <span class="book-detail"> <%= @book.language %></span>
      </div>
      <div>
       File size: <span class="book-detail"> <%= @book.filesize %></span>
      </div>
  </div>


</div>

<p>
<%= button_to "Download", download_book_path(@book),:class =>'btn btn-primary'%>
</p>

<% if owner? %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
