<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @book.desc %>
</p>

<p>
  <%= image_tag(@book.image, class: "book-img") %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @book.uploader %>
</p>

<p>
  <strong>Filesize:</strong>
  <%= @book.filesize %>
</p>

<p>
  <strong>MD5:</strong>
  <%= @book.md5 %>
</p>

<p>
<%= button_to "Download", download_book_path(@book),:class =>'btn btn-primary'%>
</p>

<% if owner? %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
