<h3 class="book-title">
  <%= @book.name %>
</h3>

<div class="book-show">
  <%=  image_tag(@book.image, class: "book-img")%>
  <div class="book-desc">
      <%= @book.desc %>
      <p> </p>
      <div>
        <%= t('book.author') %>: <span class="book-detail"> <%= @book.author %></span>
      </div>
      <div>
        <%= t('book.language') %>: <span class="book-detail"> <%= @book.language %></span>
      </div>
      <div>
       <%= t('book.filesize') %>: <span class="book-detail"> <%= @book.filesize %></span>
      </div>
  </div>


</div>

<p>
<%= button_to t('book.download'), download_book_path(@book),:class =>'btn btn-primary'%>
</p>

<% if owner? %>
<%= link_to t('book.edit'), edit_book_path(@book) %>
<% end %>
