<div>
<%= form_tag(sessions_path) do %>

  <%= label_tag t('session.email') %>
  <%= text_field_tag :email %>

  <%= label_tag t('session.password') %>
  <%= password_field_tag :password %>
  <br/>
  <%= submit_tag t('session.signin'), class: "btn btn-middle btn-primary" %>

<% end %>

<p><%= t('session.new_user')%> <%= link_to t('session.signup') , signup_path %></p>

</div>